.hero {
    width: 100%;
    height: 90vh;
    background: url('/cuy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 3rem;
    transform: translateY(67px);
}

.hero .left {
    display: flex;
    flex-direction: column;
}

.hero .left img {
    margin-top: -56px;
    margin-bottom: 32px;
}

.hero .left h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 24px;
}

.hero .left span {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.hero .left .cta {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.hero .left .cta-btn {
    padding: 12px 24px;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 16px;
}

.hero .left .cta-btn:hover {
    transform: scale(1.1);
    transition: var(--transition-04);
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background: var(--primary);
    box-shadow: 0 0 12px var(--primary);
    color: #fff;
}

.btn-b {
    background: #fff;
    box-shadow: 0 0 12px #000;
}

@media (max-width: 768px) {
    .about {
        padding: 32px;
    }

    .hero .left h2 {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .hero .left span {
        font-size: 16px;
    }

    .hero .left .cta {
        gap: 32px;
    }

    .hero .left .cta-btn {
        padding: 8px 16px;
        font-size: 16px;
        border-radius: 8px;
    }
}