.about {
    width: 100%;
    height: 100vh;
    padding: 5rem 14rem;
}

.about h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 64px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 16px;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 3rem 2rem;
}

.about .container .content {
    display: block;
    width: 20rem;
    animation: in-left 0.7s ease-in;
}

.about .container .content h2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
}

.about .container img {
    border-radius: 16px;
}


@keyframes in-left {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(0%);
    }
}