.about {
    width: 100%;
    height: 100vh;
    padding: 5rem 14rem;
    background: var(--accention);
}

.about h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 32px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 16px;
    margin-top: 32px;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 3rem 2rem;
}

.about .container .content {
    display: block;
    width: 20rem;
    animation: in-left 0.7s ease-in;
}

.about .container .content h2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
}

.about .container .content p {
    margin-bottom: 8px;
}

.about .container img {
    border-radius: 16px;
}

.about .container img:hover {
    transform: scale(1.04);
    transition: var(--transition-04);
}

.about .container .content .cta-about-menu {
    padding: 8px 16px;
    margin-top: 24px;
    border-radius: 8px;
    font-weight: 600;
}

.about .container .content .cta-about-menu:hover {
    transform: scale(1.08);
    transition: var(--transition-04);
}