@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-color: #000;
  --background-nav: rgba(255, 255, 255, 0.85);
  --color-white: #fff;
  --primary: hsl(0, 83%, 49%);
  --background-primary: rgba(255, 0, 0, 0.2);
  --transition-02: 0.2s;
  --transition-03: 0.3s;
  --transition-04: 0.4s;
  --transition-05: 0.5s;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: rgb(226, 224, 224);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
