@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-nav: #fff;
  --primary: hsl(0, 100%, 52%);
  --transition-03: 0.3s;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: rgb(226, 224, 224);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
