.navbar {
  width: 100%;
}

.navbar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3rem;
  border-bottom: 1px solid rgba(40, 40, 40, 0.24);
  background: var(--background-nav);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.navbar header .nav-menu {
  display: flex;
  gap: 56px;
  font-size: 16px;
  font-weight: 600;
  transform: translateX(-140px);
}

.navbar header .nav-menu li {
    color: var(--font-color);
}

.navbar header .nav-menu li:hover {
    color: var(--primary);
    transition: var(--transition-03);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
}

.contact-cta {
    display: flex;
    gap: 8px;
    align-items: center;
    background: var(--primary);
    padding: 8px 16px;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 1px 1px 6px var(--primary);
}